<div
  class="w-[80%] mx-auto bg-slate-300 m-2 rounded-xl flex justify-around items-center p-2"
>
  <div class="p-2">
    <img
      [src]="productImageSrc"
      width="130"
      class="h-28 rounded-lg"
      alt="{{ product.productHeading }}"
    />
    <button
      class="flex items-center px-3 py-1 ml-2 mt-6 bg-blue-400 rounded-lg text-sm"
      [routerLink]="['/editpic', product.productId]"
      matTooltip="Edit product picture"
    >
      Edit Picture <mat-icon>image</mat-icon>
    </button>
  </div>
  <div class="w-[30%] p-2">
    <h2 class="text-xl font-bold">{{ product.productHeading | titlecase }}</h2>
    <p class="mt-1 font-serif font-semibold">
      {{ product.productDescription | lowercase }}
    </p>
    <div class="mt-4">Product Price : {{ product.productPrice }}</div>
    <div>Strike Price : {{ product.productStrike }}</div>
    <div>Offer Applied : {{ product.productOffer }}</div>
    <button
      class="px-2 py-1 mr-2 bg-blue-400 text-sm mt-4 rounded-lg"
      [routerLink]="['/editProduct', product.productId]"
      matTooltip="Edit product"
    >
      <mat-icon class="rounded-xl">edit</mat-icon>
    </button>
    <button
      class="px-2 py-1 ml-10 bg-red-600 text-white text-sm mt-4 hover:bg-white hover:text-red-500 rounded-lg"
      (click)="emitter.emit(product.productId)"
      matTooltip="Delete product"
    >
      <mat-icon class=" rounded-xl">delete</mat-icon>
    </button>
  </div>
</div>
