<div class="flex justify-center items-center h-screen bg-blue-100">
  <div class="bg-white shadow-lg shadow-blue-400 p-8 rounded-md text-center">
    <p class="text-lg font-bold">
      <b
        ><span>Product ID:</span><span class="ml-2">{{ productId }}</span></b
      >
    </p>

    <div class="mt-4">
      <label class="block text-sky-700 font-semibold text-lg mb-2"
        >Select Image
      </label>
      <input
        type="file"
        title="productImage"
        (change)="getFile($event)"
        class="mb-4"
      />

      <button
        class="px-4 py-2 bg-sky-300 text-black hover:bg-sky-400 transition-colors rounded-lg"
        (click)="upload()"
      >
        Upload Pic
      </button>
    </div>
  </div>
</div>
